# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
*.env
.env

# CSV / TSV data dumps (if large or generated)
*.csv
*.tsv

# MacOS system files
.DS_Store